In [1]:
import numpy as pd
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv("../data/sealion/my_correct_counts.csv")

In [3]:
df.describe()

,train_id,adult_males,subadult_males,adult_females,juveniles,pups
count,948.000000,948.000000,948.000000,948.000000,948.000000,948.000000
mean,473.500000,5.532700,4.367089,38.742616,20.713080,17.069620
std,273.808327,7.570017,6.347575,67.760676,41.059592,48.040433
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,236.750000,1.000000,1.000000,1.000000,1.000000,0.000000
50%,473.500000,3.000000,2.000000,15.000000,8.000000,0.000000
75%,710.250000,6.000000,5.000000,44.000000,26.000000,5.000000
max,947.000000,64.000000,55.000000,681.000000,636.000000,529.000000