In [29]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../lowik/sealion/data/sealion/Train/train.csv")

In [3]:
df.head()

   train_id  adult_males  subadult_males  adult_females  juveniles  pups
0         0           62              12            486         42   344
1         1            2              20              0         12     0
2         2            2               0             38         20     0
3         3            8               5             41          7    38
4         4            6               9              2          0     0

In [7]:
sealion_types = ["adult_males", 
    "subadult_males",
    "adult_females",
    "juveniles",
    "pups"]

In [8]:
df_sum = df.sum()

In [25]:
counts = dict()
total = 0
for s in sealion_types:
    counts[s] = df_sum[s]
    total += 1/counts[s]

In [27]:
probas = dict()
for s, c in counts.items():
    probas[s] = (1/counts[s])/total

In [34]:
background_proba = np.min(list(probas.values()))/10

In [36]:
probas

{'adult_females': 0.048142699511667254,
 'adult_males': 0.3351506883474506,
 'juveniles': 0.089826648353188876,
 'pups': 0.11096914409391793,
 'subadult_males': 0.41591081969377525}